* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  min-height: 100vh;
  background: #f5f6fa;
}
* body p {
  font-size: 1rem;
}
* body a {
  color: #5457b6;
  text-decoration: none;
}
* body a:hover {
  transition: 0.4s;
}
* body .container {
  max-width: 1440px;
  margin: 0 auto;
}
* body .container .principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
* body .container .principal .delete-comment-div {
  position: fixed;
  visibility: hidden;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}
* body .container .principal .delete-comment-div-content {
  margin: 0 auto;
  width: 100%;
  max-width: 20rem;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.5rem;
  border-radius: 0.5rem;
  gap: 2rem;
}
* body .container .principal .delete-comment-div-content h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #324152;
}
* body .container .principal .delete-comment-div-content-buttons {
  display: flex;
  max-width: 15rem;
  justify-content: space-between;
}
* body .container .principal .delete-comment-div-content-buttons-cancel {
  max-width: 7rem;
  width: 100%;
  font-size: 0.8rem;
  text-transform: uppercase;
  background: #67727e;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
}
* body .container .principal .delete-comment-div-content-buttons-cancel:hover {
  cursor: pointer;
  opacity: 0.5;
}
* body .container .principal .delete-comment-div-content-buttons-delete {
  width: 100%;
  max-width: 7rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  background: #ed6468;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
}
* body .container .principal .delete-comment-div-content-buttons-delete:hover {
  cursor: pointer;
  opacity: 0.5;
}
* body .container .principal .delete-comment-div-active {
  visibility: visible;
}
* body .container .principal .comments {
  margin: 3rem 1.5rem;
}
@media (min-width: 768px) {
  * body .container .principal .comments {
    max-width: 650px;
  }
}
* body .container .principal .comments-comment {
  width: 100%;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}
* body .container .principal .comments-comment-new {
  position: relative;
}
* body .container .principal .comments-comment-new .comments-comment-delete {
  visibility: hidden;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 4.25rem;
  justify-content: space-between;
  align-items: center;
  color: red;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-weight: 500;
  transition: 0.4s;
}
* body .container .principal .comments-comment-new .comments-comment-delete:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.4s;
}
* body .container .principal .comments-comment-user-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}
* body .container .principal .comments-comment-user-infos img {
  max-width: 2rem;
  height: auto;
}
* body .container .principal .comments-comment-user-infos h3 {
  font-weight: 500;
}
* body .container .principal .comments-comment-user-infos-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5457b6;
  padding: 0.15rem 0.25rem;
  color: #fff;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}
* body .container .principal .comments-comment-user-infos-date {
  color: #67727e;
}
* body .container .principal .comments-comment-interactions {
  color: #5457b6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
* body .container .principal .comments-comment-interactions-feedback {
  display: flex;
  justify-content: space-between;
  width: 30%;
  background: #f5f6fa;
  padding: 0.5rem;
  max-width: 6rem;
  border-radius: 0.5rem;
}
* body .container .principal .comments-comment-interactions-feedback-score {
  color: transparent;
  text-shadow: 0 0 0 #5457b6;
  font-weight: bold;
  width: 100%;
  max-width: 5rem;
  border: none;
  background: none;
  text-align: center;
  pointer-events: none;
}
* body .container .principal .comments-comment-interactions-feedback-score:focus {
  box-shadow: none;
  outline: none;
}
* body .container .principal .comments-comment-interactions-feedback img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
* body .container .principal .comments-comment-interactions-feedback img:hover {
  cursor: pointer;
}
* body .container .principal .comments-comment-interactions-actions {
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  max-width: 4rem;
}
* body .container .principal .comments-comment-interactions-actions-current-user {
  max-width: 3.25rem;
}
* body .container .principal .comments-comment-interactions-actions img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 0.75rem;
}
* body .container .principal .comments-comment-interactions .reply {
  transition: 0.4s;
}
* body .container .principal .comments-comment-interactions .reply:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.1);
  transition: 0.4s;
}
* body .container .principal .comments-comment-text {
  color: #67727e;
  line-height: 1.5rem;
  word-break: break-word;
}
* body .container .principal .comments-comment-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
* body .container .principal .comments-comment-content .new-comment-div {
  width: 100%;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}
* body .container .principal .comments-comment-content .new-comment-div-user {
  width: 100%;
  position: relative;
}
* body .container .principal .comments-comment-content .new-comment-div-user-infos {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
* body .container .principal .comments-comment-content .new-comment-div-user-infos img {
  position: relative;
}
* body .container .principal .comments-comment-content .new-comment-div-user-infos h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #324152;
}
* body .container .principal .comments-comment-content .new-comment-div-user-infos-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5457b6;
  padding: 0.15rem 0.25rem;
  color: #fff;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}
* body .container .principal .comments-comment-content .new-comment-div-user-infos-date {
  color: #67727e;
}
* body .container .principal .comments-comment-content .new-comment-div-sub {
  display: flex;
  justify-content: space-between;
  min-height: 5rem;
}
* body .container .principal .comments-comment-content .new-comment-div-sub-text {
  width: 100%;
  max-width: 28rem;
}
* body .container .principal .comments-comment-content .new-comment-div-sub-text p {
  border: solid 1px #5457b6;
  border-radius: 0.5rem;
  height: 100%;
  padding: 1rem;
}
* body .container .principal .comments-comment-content .new-comment-div-sub-interactions {
  width: 100%;
  max-width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* body .container .principal .comments-comment-content .new-comment-div-sub-interactions-reply {
  padding: 0.75rem;
  color: #fff;
  border: none;
  background: #5457b6;
  border-radius: 0.5rem;
  transition: 0.4s;
}
* body .container .principal .comments-comment-content .new-comment-div-sub-interactions-reply:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.5;
}
* body .container .principal .comments-comment-content .new-comment-div-sub-interactions-cancel {
  font-weight: 500;
  border: none;
  color: #ed6468;
  background: none;
  transition: 0.4s;
}
* body .container .principal .comments-comment-content .new-comment-div-sub-interactions-cancel:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.5;
}
* body .container .principal .comments-comment-content .new-comment-div-sub-interactions-edit {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  color: #5457b6;
  font-weight: 500;
  bottom: 1rem;
  right: 1rem;
  width: 100%;
  max-width: 3.25rem;
  border-radius: 0.5rem;
}
* body .container .principal .comments-comment-content .new-comment-div-sub-interactions-edit img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 0.75rem;
}
* body .container .principal .comments-comment-content .new-comment-div-sub-interactions-send {
  padding: 0.75rem;
  color: #fff;
  border: none;
  background: #5457b6;
  border-radius: 0.5rem;
  transition: 0.4s;
  position: absolute;
  font-weight: 500;
  bottom: 1rem;
  right: 1rem;
  width: 100%;
  max-width: 5rem;
}
* body .container .principal .comments-comment-content:nth-child(2)::before {
  position: absolute;
  content: "";
  height: 63.2%;
  width: 2px;
  background: #eaecf1;
  left: 0;
  bottom: 0.9rem;
}
* body .container .principal .comments-comment-content .comments-reply {
  max-width: 92%;
}
* body .container .principal .comments-comment-content .comments-reply .comments-comment-reply-interactions-actions-current-user {
  max-width: 3.25rem;
  border-radius: 0.5rem;
}
* body .container .principal .comments-comment-content .comments-reply .comments-comment-reply-interactions-actions-current-user:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.1);
}
* body .container .principal .comments-comment-content .comments-reply .comments-reply-delete {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 4.25rem;
  justify-content: space-between;
  align-items: center;
  color: red;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-weight: 500;
  transition: 0.4s;
}
* body .container .principal .comments-comment-content .comments-reply .comments-reply-delete:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.4s;
}
* body .container .principal .comments-comment-content .comments-reply .comments-reply-delete img {
  width: 100%;
  max-width: 0.8rem;
  max-height: 0.8rem;
}
* body .container .principal .new-comment {
  background: #fff;
  margin: 3rem 1.5rem;
  width: 90%;
  padding: 1.5rem;
}
@media (min-width: 768px) {
  * body .container .principal .new-comment {
    max-width: 650px;
  }
}
* body .container .principal .new-comment-div {
  position: relative;
  min-height: 125px;
  width: 100%;
}
* body .container .principal .new-comment-div-user {
  height: 100%;
  width: 100%;
  flex-direction: column-reverse;
  position: absolute;
}
* body .container .principal .new-comment-div-user img {
  max-width: 2rem;
  height: auto;
  object-fit: cover;
  position: absolute;
  bottom: 0rem;
  left: 0;
}
* body .container .principal .new-comment-div-user-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
* body .container .principal .new-comment-div-user-form-text {
  width: 100%;
  min-height: 75px;
  max-height: 75px;
  border: solid 1px #eaecf1;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
* body .container .principal .new-comment-div-user-form-text:focus {
  box-shadow: none;
  outline: solid 1px #5457b6;
}
* body .container .principal .new-comment-div-user-form-button {
  position: absolute;
  bottom: -0.5rem;
  border: none;
  color: #fff;
  background: #5457b6;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
* body .container .principal .new-comment-div-user-form-button:hover {
  transition: 0.4s;
  cursor: pointer;
  opacity: 0.3;
}

/*# sourceMappingURL=styles.css.map */
