@use 'variables'
@use 'mixins'

*
    font-family: 'Rubik',sans-serif
    margin: 0
    padding: 0
    box-sizing: border-box

    body
        min-height: 100vh
        background: variables.$very-light-gray

        p
            font-size: 1rem

        a
            color: variables.$moderate-blue
            text-decoration: none

            &:hover
                transition: .4s

        .container
            @include mixins.container

            .principal
                @include mixins.flex-center
                flex-direction: column

                .comments
                    margin: 3rem 1.5rem

                    @include mixins.medium-devices
                        max-width: 650px

                    &-comment
                        background: variables.$white
                        padding: 1rem
                        border-radius: 0.5rem
                        margin: 1rem 0
                        @include mixins.flex-center
                        flex-direction: column
                        align-items: flex-start
                        gap: 1rem

                        &-user

                            &-infos
                                @include mixins.flex-center
                                justify-content: flex-start
                                gap: 0.75rem

                                img
                                    max-width: 2rem
                                    height: auto

                                h3
                                    font-weight: 500

                                &-date
                                    color: variables.$grayish-blue

                        &-interactions
                            color: variables.$moderate-blue
                            width: 100%
                            display: flex
                            justify-content: space-between
                            font-weight: 500

                            &-feedback
                                display: flex
                                justify-content: space-between
                                width: 30%
                                background: variables.$very-light-gray
                                padding: 0.5rem
                                max-width: 6rem
                                border-radius: 0.5rem

                                img
                                    max-width: 100%
                                    height: auto
                                    object-fit: contain


                            &-actions
                                width: 30%
                                display: flex
                                flex-direction: row-reverse
                                justify-content: space-between
                                align-items: center
                                max-width: 4rem

                                img
                                    max-width: 100%
                                    height: auto
                                    object-fit: contain
                                    max-height: 0.75rem

                        &-text
                            color: variables.$grayish-blue
                            line-height: 1.5rem
                            
                                

                .new-comment
                    background: variables.$white
                    margin: 3rem 1.5rem
                    width: 90%
                    
                    padding: 1.5rem
                    
                    
                    @include mixins.medium-devices
                        max-width: 650px

                    &-div
                        position: relative
                        min-height: 125px
                        width: 100%
                        &-user
                            height: 100%
                            width: 100%
                            flex-direction: column-reverse
                            position: absolute

                            img
                                max-width: 2rem
                                height: auto
                                object-fit: cover
                                position: absolute
                                bottom: 0
                                left: 0

                            &-form
                                display: flex
                                flex-direction: column
                                align-items: flex-end

                                &-text
                                    width: 100%
                                    min-height: 75px
                                    max-height: 75px
                                    border: solid 1px variables.$light-gray
                                    border-radius: 0.5rem
                                    padding: 0.5rem
                                    position: relative

                                    &::placeholder
                                        position: absolute

                                &-button
                                    max-width: 4rem
                                    position: absolute
                                    bottom: 0
                                    
                        