@use 'variables'
@use 'mixins'

*
    font-family: 'Rubik',sans-serif
    margin: 0
    padding: 0
    box-sizing: border-box

    body
        min-height: 100vh
        background: variables.$very-light-gray

        p
            font-size: 1rem

        a
            color: variables.$moderate-blue
            text-decoration: none

            &:hover
                transition: .4s

        .container
            @include mixins.container

            .principal
                @include mixins.flex-center
                flex-direction: column
                position: relative

                

                .delete-comment-div
                    position: fixed
                    visibility: hidden
                    width: 100%
                    min-height: 100vh
                    height: 100%
                    top: 0
                    overflow: hidden
                    background: rgba(0,0,0,.5)

                    &-content
                        margin: 0 auto
                        width: 100%
                        max-width: 20rem
                        top: 50%
                        position: relative
                        transform: translateY(-50%)
                        background-color: #fff
                        display: flex
                        flex-direction: column
                        padding: 1.25rem 1.5rem
                        border-radius: 0.5rem
                        gap: 2rem

                        h3
                            font-size: 1.3rem
                            font-weight: 500
                            color: variables.$dark-blue

                        &-buttons
                            display: flex
                            max-width: 15rem
                            justify-content: space-between

                            &-cancel
                                max-width:7rem
                                width: 100%
                                font-size: 0.8rem
                                text-transform: uppercase
                                background: variables.$grayish-blue
                                color: variables.$white
                                padding: 0.75rem
                                border: none
                                border-radius: 0.5rem

                                &:hover
                                    cursor: pointer
                                    opacity: 0.5
                                

                            &-delete
                                width: 100%
                                max-width:7rem
                                font-size: 0.8rem
                                text-transform: uppercase
                                background: variables.$soft-red
                                color: variables.$white
                                padding: 0.75rem
                                border: none
                                border-radius: 0.5rem

                                &:hover
                                    cursor: pointer
                                    opacity: 0.5

                    &-active
                        visibility: visible

                .comments
                    margin: 3rem 1.5rem

                    @include mixins.medium-devices
                        max-width: 650px
                    
                    
                    &-comment
                        width: 100%
                        background: variables.$white
                        padding: 1rem
                        border-radius: 0.5rem
                        margin: 1rem 0
                        @include mixins.flex-center
                        flex-direction: column
                        align-items: flex-start
                        gap: 1rem
                        position: relative

                        

                        &-new
                            position: relative

                            .comments-comment-delete
                                visibility: hidden
                                display: flex
                                flex-direction: row-reverse
                                width: 100%
                                max-width: 4.25rem
                                justify-content: space-between
                                align-items: center
                                color: red
                                position: absolute
                                top: 0.5rem
                                right: 1rem
                                font-weight: 500
                                transition: .4s

                                &:hover
                                    cursor: pointer
                                    transform: scale(1.1)
                                    transition: .4s

                        &-user

                            &-infos
                                @include mixins.flex-center
                                justify-content: flex-start
                                gap: 0.75rem

                                img
                                    max-width: 2rem
                                    height: auto

                                h3
                                    font-weight: 500

                                &-tag
                                    @include mixins.flex-center
                                    background: variables.$moderate-blue
                                    padding: 0.15rem 0.25rem
                                    color: variables.$white
                                    font-size: 0.75rem
                                    border-radius: 0.25rem

                                &-date
                                    color: variables.$grayish-blue

                        &-interactions
                            color: variables.$moderate-blue
                            width: 100%
                            display: flex
                            justify-content: space-between
                            font-weight: 500

                        
                                

                            &-feedback
                                display: flex
                                justify-content: space-between
                                width: 30%
                                background: variables.$very-light-gray
                                padding: 0.5rem
                                max-width: 6rem
                                border-radius: 0.5rem

                                &-score
                                    color: transparent
                                    text-shadow: 0 0 0 variables.$moderate-blue
                                    font-weight: bold
                                    width: 100%
                                    max-width: 5rem
                                    border: none
                                    background: none
                                    text-align: center
                                    pointer-events: none

                                    &:focus
                                        box-shadow: none
                                        outline: none

                                img
                                    max-width: 100%
                                    height: auto
                                    object-fit: contain

                                    &:hover
                                        cursor: pointer
                                        


                            &-actions
                                width: 30%
                                display: flex
                                flex-direction: row-reverse
                                justify-content: space-between
                                align-items: center
                                max-width: 4rem

                            
                                
                                &-current-user
                                    max-width: 3.25rem
                                    transition: .4s

                                    &:hover
                                        cursor: pointer
                                        transition: .4s
                                        transform: scale(1.1)
                                        

                                    img
                                        max-width: 100%
                                        height: auto
                                        object-fit: contain
                                        max-height: 0.75rem

                            .reply
                                transition: .4s

                                &:hover
                                    cursor: pointer
                                    opacity: 0.5
                                    transform: scale(1.1)
                                    transition: .4s
                            

                        &-text
                            color: variables.$grayish-blue
                            line-height: 1.5rem
                            word-break: break-word
                            
                        &-content
                            display: flex
                            flex-direction: column
                            align-items: flex-end
                            position: relative

                            .new-comment-div
                                width: 100%
                                background: #fff
                                padding: 1rem
                                border-radius: 0.5rem
                                margin: 1rem 0
                                display: flex
                                flex-direction: column 
                                justify-content: space-between
                                gap: 1rem
                                position: relative

                                &-user
                                    width: 100%
                                    position: relative

                                    &-infos
                                        display: flex
                                        width: 100%
                                        justify-content: flex-start
                                        gap: 1rem
                                        align-items: center

                                        img
                                            position: relative

                                        h3
                                            font-size: 1.3rem
                                            font-weight: 500
                                            color: variables.$dark-blue

                                        &-tag
                                            @include mixins.flex-center
                                            background: variables.$moderate-blue
                                            padding: 0.15rem 0.25rem
                                            color: variables.$white
                                            font-size: 0.75rem
                                            border-radius: 0.25rem
                                            display: none

                                        &-date
                                            color: variables.$grayish-blue
                                            display: none

                                        

                                &-sub
                                    display: flex
                                    justify-content: space-between
                                    min-height: 5rem

                                    &-text
                                        width: 100%
                                        max-width: 28rem
                                        

                                        p
                                            border: solid 1px variables.$moderate-blue
                                            border-radius: 0.5rem
                                            height: 100%
                                            padding: 1rem

                                    &-interactions
                                        width: 100%
                                        max-width: 6rem
                                        display: flex
                                        flex-direction: column
                                        justify-content: space-between

                                        &-reply
                                            padding: 0.75rem
                                            color: variables.$white
                                            border: none
                                            background: variables.$moderate-blue
                                            border-radius: 0.5rem
                                            transition: .4s

                                            &:hover
                                                transform: scale(1.1)
                                                cursor: pointer
                                                transition: .4s
                                                opacity: 0.5

                                        &-cancel
                                            font-weight: 500
                                            border: none
                                            color: variables.$soft-red
                                            background: none
                                            transition: .4s  


                                            &:hover
                                                transform: scale(1.1)
                                                cursor: pointer
                                                transition: .4s
                                                opacity: 0.5

                                        &-edit
                                            display: flex
                                            flex-direction: row-reverse
                                            position: absolute
                                            justify-content: space-between
                                            align-items: center
                                            color: variables.$moderate-blue
                                            font-weight: 500
                                            bottom: 1rem
                                            right: 1rem
                                            width: 100%
                                            max-width: 3.25rem
                                            border-radius: 0.5rem

                                            img
                                                max-width: 100%
                                                height: auto
                                                object-fit: contain
                                                max-height: 0.75rem

                                            &:hover
                                                cursor: pointer
                                                transition: .4s
                                                transform: scale(1.1)

                                        &-send
                                            padding: 0.75rem
                                            color: variables.$white
                                            border: none
                                            background: variables.$moderate-blue
                                            border-radius: 0.5rem
                                            transition: .4s
                                            position: absolute
                                            font-weight: 500
                                            bottom: 1rem
                                            right: 1rem
                                            width: 100%
                                            max-width: 5rem

                                            &:hover
                                                cursor: pointer
                                                transition: .4s
                                                transform: scale(1.1)
                                                

                                        &-delete
                                            display: flex
                                            flex-direction: row-reverse
                                            width: 100%
                                            max-width: 4.25rem
                                            justify-content: space-between
                                            align-items: center
                                            color: red
                                            position: absolute
                                            top: 0.5rem
                                            right: 1rem
                                            font-weight: 500
                                            transition: .4s

                                            &:hover
                                                cursor: pointer
                                                transition: .4s
                                                transform: scale(1.1)
 

                            &:nth-child(2)

                                &::before
                                    position: absolute
                                    content: ''
                                    height: 63.2%
                                    width: 2px
                                    background: variables.$light-gray
                                    left: 0
                                    bottom: 0.9rem

                            .comments-reply
                                max-width: 92%
                          
                                .comments-comment-reply-interactions

                                    &-actions-current-user
                                        max-width: 3.25rem
                                        border-radius: 0.5rem

                                        &:hover
                                            cursor: pointer
                                            transition: .4s
                                            transform: scale(1.1)

                                .comments-reply-delete
                                    display: flex
                                    flex-direction: row-reverse
                                    width: 100%
                                    max-width: 4.25rem
                                    justify-content: space-between
                                    align-items: center
                                    color: red
                                    position: absolute
                                    top: 0.5rem
                                    right: 1rem
                                    font-weight: 500
                                    transition: .4s

                                    &:hover
                                        cursor: pointer
                                        transform: scale(1.1)
                                        transition: .4s

                                    img
                                        width: 100%
                                        max-width: 0.8rem
                                        max-height: 0.8rem
                                        
                                
                                
                                    
                                
                                

                .new-comment
                    background: variables.$white
                    margin: 3rem 1.5rem
                    width: 90%
                    padding: 1.5rem
                    
                    
                    @include mixins.medium-devices
                        max-width: 650px

                    &-div
                        position: relative
                        min-height: 125px
                        width: 100%
                        &-user
                            height: 100%
                            width: 100%
                            flex-direction: column-reverse
                            position: absolute

                            img
                                max-width: 2rem
                                height: auto
                                object-fit: cover
                                position: absolute
                                bottom: 0rem
                                left: 0

                            &-form
                                display: flex
                                flex-direction: column
                                align-items: flex-end

                                &-text
                                    width: 100%
                                    min-height: 75px
                                    max-height: 75px
                                    border: solid 1px variables.$light-gray
                                    border-radius: 0.5rem
                                    padding: 0.5rem

                                    &:focus
                                        box-shadow: none
                                        outline: solid 1px variables.$moderate-blue
                                    

                                &-button
                                    position: absolute
                                    bottom: -0.5rem
                                    border: none
                                    color: variables.$white
                                    background: variables.$moderate-blue
                                    padding: 1rem 2rem
                                    border-radius: 0.5rem
                                    text-transform: uppercase

                                    &:hover
                                        transition: .4s
                                        cursor: pointer
                                        opacity: 0.3
                                    
                        